$font-family: 'EB Garamond', serif;
$font-family-mono: 'Courier Prime', monospace;

// Figma colors
// https://www.figma.com/file/eseZA1jRIoX6IYNtoHgz30/Pistols-at-Ten-Blocks
$color-bg: #141217;
$color-darkest: #0a090b;
$color-dark: #784f40;
$color-medium: #FFBEA6;
$color-bright: #c8b6a8;
$color-brightest: #F3E9C3;

$color-white: $color-brightest;
$color-shadow: $color-dark;
$color-text: $color-bright;
$color-link: $color-medium;
$color-important: $color-medium;
$color-active: $color-medium;
$color-inactive: rgba($color-brightest, 0.35);
$color-attention: $color-medium;
$text-shadow: 0.04em 0.04em 2px $color-dark;
$title-shadow: 0.1em 0.1em 1px $color-darkest;
$ui-border: 6px ridge $color-active;

$border-hr: solid 0.5px rgba($color-bright, 0.5);
$border-button: 1px solid $color-bright;
$border-button-active: 1px solid $color-brightest;
$border-button-inactive: 1px solid rgba($color-bright, 0.5);

$color-positive: #4dcb51; // from $color-medium
$color-negative: #e73e3e; // from $color-medium
$color-warning: $color-medium;
$color-blue: #4dcbc9; // from $color-medium

$game-width: 960px;
$game-height: 540px;
$ui-height: 180px;
$ui-compass-width: 360px;
$ui-column: 60px;
$ui-row: 40px;

html {
  overflow: scroll;
  // scroll-behavior: smooth;
}

html,
body {
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: $color-bg;
  color: $color-text;
  // text-shadow: $text-shadow;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: border-color 0.25s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: $color-link;
  text-decoration: inherit;
  font-weight: 600;
}

a:hover {
  color: $color-link;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family;
  // text-shadow: $text-shadow;
  line-height: 1.2em;
  margin: 0.2em 0;
  color: $color-brightest;
}

hr {
  border: $border-hr;
}

button {
  background-color: $color-active;
  color: $color-bg;
  text-shadow: $text-shadow;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.5em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

canvas {
  display: block;
}


//-----------------------------------
// scss mixins
// https: //sass-lang.com/documentation/at-rules/mixin
@mixin make-box-shadow($values_) {
  -webkit-box-shadow: $values_;
  -moz-box-shadow: $values_;
  box-shadow: $values_;
}

@mixin make-animation($duration_, $ease_, $count_, $name_) {
  animation-duration: $duration_;
  animation-timing-function: $ease_;
  animation-iteration-count: $count_;
  animation-fill-mode: forwards;
  animation-name: $name_;
  -webkit-animation-duration: $duration_;
  -webkit-animation-timing-function: $ease_;
  -webkit-animation-iteration-count: $count_;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: $name_;
}


//------------------------
// GENERIC
//

.AlignLeft {
  text-align: left !important;
  justify-content: left !important;
}

.AlignCenter {
  text-align: center !important;
  justify-content: center !important;
}

.AlignRight {
  text-align: right !important;
  justify-content: right !important;
}

.AlignTop {
  vertical-align: top;
}

.AlignMiddle {
  vertical-align: middle;
}

.AlignBottom {
  vertical-align: bottom;
}

.NoPadding {
  padding: 0 !important;
}

.NoMargin {
  margin: 0 !important
}

.NoBorder {
  border: 0 !important
}

.AutoMargin {
  margin: auto !important
}

.Padded {
  padding: 0.5em !important;
}

.PaddedLeft {
  padding-left: 0.5em !important;
}

.PaddedRight {
  padding-right: 0.5em !important;
}

.PaddedTop {
  padding-top: 0.5em !important;
}

.PaddedBottom {
  padding-bottom: 0.5em !important;
}

.Margin6 {
  margin: 6px !important
}

.Block {
  display: inline-block;
}

.Flex {
  display: flex;
}

.NoMouse {
  pointer-events: none;
}

.YesMouse {
  pointer-events: auto;
}

.Important {
  color: $color-important;
}

.Black {
  color: $color-darkest;
}

.Bold {
  color: $color-brightest;
  font-weight: 600;
}

.Positive {
  // background-color: inherit!important;
  color: $color-positive !important;
  // color: inherit!important;
}

.Negative {
  // background-color: inherit!important;
  color: $color-negative !important;
}

.Warning {
  // background-color: inherit!important;
  color: $color-warning !important;
}

.Canceled {
  // background-color: inherit!important;
  color: $color-inactive !important;
}

.Code {
  font-family: $font-family-mono;
  font-size: 12px;
}

.Quote {
  font-style: italic;
}

.Smaller {
  font-size: 10px;
}

.Larger {
  font-size: 1.5em !important;
}

.Faded {
  background-color: #0002;
}

.AboveAll {
  z-index: 1000;
}

.Anchor {
  cursor: pointer;
  pointer-events: all !important;
}

.Spacer5 {
  width: '100%';
  min-height: 5px;
}

.Spacer10 {
  width: '100%';
  min-height: 10px;
}

.Spacer20 {
  width: '100%';
  min-height: 20px;
}

.Spacer50 {
  width: '100%';
  min-height: 50px;
}

.Hidden {
  display: none !important;
}

.Relative {
  position: relative;
}

.AbsoluteLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.AbsoluteRight {
  position: absolute;
  top: 0;
  right: 0;
}

.Grayscale {
  filter: grayscale(100%);
  /* Current draft standard */
  -webkit-filter: grayscale(100%);
  /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  /* Not yet supported in Gecko, Opera or IE */
  filter: gray;
  /* IE */
  -webkit-filter: grayscale(1);
  /* Old WebKit */
}

.Sepia {
  filter: sepia(100%);
  /* Current draft standard */
  -webkit-filter: sepia(100%);
  /* New WebKit */
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -o-filter: sepia(100%);
  /* Not yet supported in Gecko, Opera or IE */
  filter: rgb(185, 176, 117);
  /* IE */
  -webkit-filter: sepia(1);
  /* Old WebKit */
}

.FillWidth {
  width: 100% !important;
  min-width: 100%;
  align-items: center;
}

.FillHeight {
  height: 100% !important;
  min-height: 100%;
  vertical-align: middle;
}

.FillParent {
  @extend .FillWidth, .FillHeight;
}

.CenteredContainer {
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  // text-align: center;
}

TextArea {
  font-family: $font-family-mono;
  background-color: $color-dark;
  color: $color-text;
  width: 100%;
  height: 400px;
}

TextArea::selection {
  background-color: $color-brightest;
  color: $color-dark;
}



//------------------------
// CUSTOM
//

.App {
  // font-family: $font-family;
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App::-webkit-scrollbar {
  display: none;
}

.Logo {
  width: 256px;
  height: 256px;
}

.TitleCase {
  // text-transform: uppercase;
  font-variant-caps: small-caps;
}

.Title {
  @extend .TitleCase;
  text-shadow: $title-shadow;
  font-size: 2em !important;
}

.button {
  background-color: #5865F2;
  height: 4rem;
  width: 12rem;
  font-size: 1rem;
  color: white;
  border-radius: 12px;
}

.Profilepicture {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-left: 0rem;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.form-control {
  height: 3rem;
  width: 18rem;
  border-radius: 12px;
  color: black;
  padding-inline: 1rem;
}

.walletbutton,
.logoutbutton {
  border-radius: 8px;
  margin-bottom: 1rem;
}

.wallet-container {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 1rem;
}



//-----------------------------
// semantic-ui
//
._round_border {
  border: $border-button !important;
  border-radius: 0.5em !important;
}

._round_border_active {
  border: $border-button-active !important;
  border-radius: 0.5em !important;
}

._round_border_inactive {
  border: $border-button-inactive !important;
  border-radius: 0.5em !important;
}

// 
// <Input>
input::placeholder {
  @extend .TitleCase;
  font-family: $font-family;
  color: $color-inactive !important;
  font-style: normal;
}

.ui.input>input,
.ui.form input:not([type]),
.ui.selection.dropdown {
  @extend ._button_shape, ._round_border;
  background-color: $color-dark !important;
  // color: rgba($color-text, 0.75)!important;
  color: $color-text !important;
}

.ui.selection.dropdown {
  color: $color-brightest !important;
}

.ui.form input[type=text],
.ui.form input[type=text]:focus {
  font-family: $font-family;
  color: $color-brightest;
  padding: 0.5em 1em;
}

.ui.input>input:active,
.ui.input>input:focus,
.ui.form input:not([type]):focus {
  @extend ._round_border_active;
  background-color: $color-dark;
  color: $color-brightest !important;
}

.ui.label {
  @extend ._round_border;
  font-family: $font-family;
  background-color: $color-bright;
  color: $color-dark;
  text-shadow: none;
}

.ui.dropdown .menu,
.ui.selection.visible.dropdown>.text:not(.default),
.ui.active.search.dropdown input.search:focus+.text,
.ui.dropdown .menu .selected.item {
  @extend ._round_border;
  background-color: $color-darkest !important;
  color: $color-brightest !important;
  font-weight: 600;
}

.ui.selection.dropdown .menu>.item {
  background-color: $color-dark !important;
  color: $color-text !important;
  border-top: $border-hr;
}

.ui.floating.dropdown>.menu {
  @extend ._round_border;
  margin-top: 0 !important;
}

.ui.dropdown .menu>.item {
  color: $color-brightest !important;
}

// forms
.FormLabel {
  @extend .TitleCase;
  color: $color-text;
  font-size: 1.1em;
  line-height: 1.2em;
}

.ui.form .field>label {
  font-family: $font-family;
  color: $color-bright;
}

//
// <Grid>
.ui.grid {
  margin: auto;
}

.ui.grid>.row {
  padding: 0.25rem 0; // original: 1.0rem 0
}

.ui.grid>.row>.column {
  padding: 0 0.25rem; // original: 1.0rem 0
}

//
// <Button>
._button_shape {
  font-size: 1.2rem; // semantic: 1rem;
  padding: 0.5em 1em; // semantic: 0.78571429em 1.5em 0.78571429em;
  margin: 0.15em 0;
  line-height: 1em;
  min-height: 30px;
  margin: 0.15em 0;
}

._button {
  @extend ._button_shape, ._round_border, .TitleCase;
  font-family: $font-family;
  background-color: rgba($color-dark, 0.6);
  color: $color-text;
}

._button_hover {
  background-color: $color-bright;
  color: $color-dark;
  text-shadow: $text-shadow;
}

._button_focus {
  @extend ._round_border_active;
  background-color: $color-dark;
  color: $color-text;
  text-shadow: $text-shadow;
}

._button_active {
  background-color: $color-brightest;
  color: $color-dark;
  text-shadow: $text-shadow;
}

._button_disabled {
  @extend ._round_border_inactive;
  color: $color-inactive;
  opacity: 1 !important;
}

.ui.button {
  @extend ._button;
}

.ui.button:hover {
  @extend ._button_hover;
}

.ui.button:focus {
  @extend ._button_focus;
}

.ui.button:active {
  @extend ._button_active;
}

.ui.button:disabled {
  @extend ._button_disabled;
}

.ui.button.toggle.active,
.ui.buttons .button.toggle.active,
.ui.toggle.buttons .active.button {
  background-color: $color-important !important;
}

.ui.button.toggle.active:hover {
  background-color: $color-important !important; // default is green
}

//
// <Menu> buttons
.ui.menu {
  background-color: transparent;
}

.ui.menu .item,
.ui.secondary.menu .item {
  @extend ._button;
  margin: 0 0.15em;
}

.ui.primary.button,
.ui.secondary.menu .active.item,
.ui.secondary.menu .active.item:hover {
  @extend ._button_active;
}

.ui.primary.button:hover,
.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover {
  @extend ._button_hover;
}

.ui.primary.button:active,
.ui.secondary.menu .dropdown.item:active,
.ui.secondary.menu .link.item:active,
.ui.secondary.menu a.item:active {
  @extend ._button_active;
}

//
// floating label
.ui.menu .item>.floating.label {
  // background-color: $color-important!important;
  // color: $color-brightest!important;
  background-color: transparent !important;
  color: $color-brightest !important;
  text-shadow: $text-shadow !important;
  font-family: $font-family-mono;
  font-weight: 600;
  padding: 0.3em 0.5em 0.1em 0.5em;
  border: 0.5px solid $color-important !important;
}

.ui.floating.label {
  // top: -1em; // semantic
  // left: 100%; // semantic
  // margin: 0 0 0 -1.5em!important; // semantic
  top: 0.5em;
  left: unset;
  right: 1em;
  margin: 0 0 0 -1.5em !important;
}

//
// <Tab> <TabPane>
.ui.attached.menu:not(.tabular) {
  border: 0;
  padding-left: 5px;
}

.ui.secondary.pointing.menu .item {
  padding: 0.5em 3em 0.5em 1em; // semantic: 0.85714286em 1.14285714em;
  background-color: transparent;
  color: $color-bright;
  text-shadow: $title-shadow;
  border: 0 !important;
  border-radius: 0 !important;
}

.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover,
.ui.secondary.pointing.menu a.item:hover,
.ui.secondary.pointing.menu a.item:active {
  border-bottom: 2px solid $color-brightest !important;
  ;
  color: $color-brightest;
}

// Tab contents
.ui.tab.active {
  background-color: transparent;
  border: 0;
  border-top: 0.5px solid $color-brightest !important;
  margin: 1px 0 0 0;
  padding: 1em 0;
}

//
// <Table>
$table-bg-color: rgba($color-darkest, 0.6);

.ui.table {
  background-color: $table-bg-color;
  color: $color-text;
  // font-size: 0.8em;
  border: 0;
}

.ui.table.selectable {
  cursor: pointer;
}

.ui.table thead th {
  @extend .TitleCase;
  background-color: rgba($color-darkest, 1);
  color: $color-brightest !important;
  font-size: 0.9em !important;
}

.ui.sortable.table thead th.sorted,
.ui.sortable.table thead th:hover {
  background-color: rgba($color-medium, 1);
}

.ui.attached.table {
  border: 0.5px solid $color-shadow;
}

td {
  // border: 1px 0 0 0 solid $color-brightest!important;
  // border: 0!important;
  border: $border-hr;
  border-style: none none solid none;
}

.ui.table td.positive,
.ui.table tr.positive {
  @extend .Positive;
}

.ui.table td.negative,
.ui.table tr.negative {
  @extend .Negative;
}

.ui.table td.warning,
.ui.table tr.warning {
  @extend .Warning;
}

.ui.selectable.table tbody tr:hover {
  color: $color-text !important;
}

// row hover
.ui.selectable.table tbody tr:hover {
  background: $color-dark !important;
}

// sort arrow below text
.ui.sortable.table thead th.sorted:after {
  display: block;
}

//
// <Pagination>
.ui.pagination.menu .item,
.ui.pagination.menu .active.item {
  font-size: 1.5em;
  min-width: 2em;
  padding: 0 0 0.2em 0.6em;
}

.ui.pagination.menu .active.item {
  background-color: $color-important;
  color: $color-white;
}

.ui.menu a.item:hover {
  background-color: $color-bright;
}

//
// <Modal>
.ui.modal {
  @extend ._round_border_inactive;
}

.ui.modal>.header {
  @extend .Title;
  font-family: $font-family;
  font-size: 2.5rem !important;
  color: $color-text;
  border-bottom: $border-hr;
  padding: 0.2em;
}

.ui.modal>.header:not(.ui) {
  padding: 0.25em 0.5em;
  height: 2em;
}

.ui.modal>.actions {
  border-top: $border-hr;
}

.ui.modal,
.ui.modal>.header,
.ui.modal>.content,
.ui.modal>.actions {
  background-color: $color-darkest;
}

.ui.header {
  @extend .TitleCase;
  font-family: $font-family;
  color: $color-text;
}

//
// <Step>
.ui.steps:not(.NoBorder) {
  @extend ._round_border;
}

.ui.steps .step,
.ui.steps .disabled.step {
  background-color: $table-bg-color;
  color: $color-text;
}

.ui.steps .disabled.step .icon,
.ui.steps .disabled.step .title {
  color: $color-inactive;
}

.ui.vertical.steps .step {
  border-bottom: $border-hr;
  padding: 1em 2em;
}

.ui.steps .step.active {
  background-color: $color-important;
  // background-color: $table-bg-color;
  color: $color-text;
}

.ui.steps .active.step .icon,
.ui.steps .step.active .title {
  color: $color-brightest;
}

a.active.step:hover,
.ui.steps .link.active.step:hover {
  background-color: $color-dark;
  // background-color: $table-bg-color;
  // color: $color-brightest!important;
  text-decoration: none;
}

.ui.vertical.steps .active.step:after,
.ui.vertical.steps .active.step:last-child:after {
  display: none;
}

//
// <Segment>
.ui.segment {
  @extend ._round_border;
  background-color: $color-dark;
}

//
// <ProgressBar>
.ui.progress .bar {
  background-color: $color-important;
  min-width: 3em;
}

// .ui.disaled.progress .bar {
//   background-color: $color-inactive;
// }
.ui.progress .bar>.progress {
  @extend .TitleCase;
  font-family: $font-family;
  font-weight: 600;
  font-size: 1.5em;
  color: $color-brightest;
  text-shadow: $text-shadow;
  margin-top: -0.65em;
  margin-right: -0.2em;
  z-index: 100;
}